@using GuiStack.Models
@using GuiStack.Extensions
@model SQSQueueInfo

<table class="gs-info-table">
    <tbody>
        <tr>
            <td>Type</td>
            <td>@(Model.FifoQueue ? "FIFO" : "Standard")</td>
        </tr>
        <tr>
            <td>ARN</td>
            <td>@Model.QueueARN</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>@Model.QueueURL</td>
        </tr>
        <tr>
            <td>Messages available ~</td>
            <td>@Model.ApproximateNumberOfMessages</td>
        </tr>
        <tr>
            <td>Messages in flight ~</td>
            <td>@Model.ApproximateNumberOfMessagesNotVisible</td>
        </tr>
        <tr>
            <td>Delayed messages ~</td>
            <td>@Model.ApproximateNumberOfMessagesDelayed</td>
        </tr>
    </tbody>
    <tbody class="additional-info">
        <tr>
            <td>Created</td>
            <td>@Model.CreatedTimestamp</td>
        </tr>
        <tr>
            <td>Last updated</td>
            <td>@Model.LastModifiedTimestamp</td>
        </tr>
        <tr>
            <td>Maximum message size</td>
            <td>@Model.MaximumMessageSize.ToFormattedFileSize()</td>
        </tr>
        <tr>
            <td>Delivery delay</td>
            <td>@TimeSpan.FromSeconds(Model.DelaySeconds).ToFormattedString()</td>
        </tr>
        <tr>
            <td>Default receive wait time</td>
            <td>@TimeSpan.FromSeconds(Model.ReceiveMessageWaitTimeSeconds).ToFormattedString()</td>
        </tr>
        <tr>
            <td>Default visibility timeout</td>
            <td>@TimeSpan.FromSeconds(Model.VisibilityTimeout).ToFormattedString()</td>
        </tr>
        <tr>
            <td>Message retention period</td>
            <td>@TimeSpan.FromSeconds(Model.MessageRetentionPeriod).ToFormattedString()</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="expand-button text-center collapsed">
            <td colspan="2">
                <a no-href onclick="gsevent_InfoTable_ToggleButton_Click(event)">
                    View more <i class="fa-solid fa-angles-down" style="font-size: 12px"></i>
                </a>
            </td>
        </tr>
        <tr class="expand-button text-center expanded">
            <td colspan="2">
                <a no-href onclick="gsevent_InfoTable_ToggleButton_Click(event)">
                    View less <i class="fa-solid fa-angles-up" style="font-size: 12px"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="gs-tab-control">
    <div class="gs-tab-container">
        <div class="gs-tabitem selected" data-tabpage="sqs-send">Send</div>
        <div class="gs-tabitem" data-tabpage="sqs-peek">Peek</div>
        <div class="gs-tabitem" data-tabpage="sqs-receive">Receive (destructive)</div>
    </div>

    <div id="sqs-send" class="gs-tabpage selected">
        Send page
    </div>

    <div id="sqs-peek" class="gs-tabpage">
        <div style="margin-bottom: 8px">
            <span>Max message count: <input class="input-max-msgs" type="number" min="1" max="10" value="1" /></span>
            <span>Max wait time (seconds): <input class="input-wait-secs" type="number" min="0" max="20" value="0" /></span>
            <a no-href class="lnk-sqs-peek">Peek</a>
        </div>

        <div class="peek-container"></div>
    </div>

    <div id="sqs-receive" class="gs-tabpage">
        Receive page
    </div>
</div>

<script type="text/javascript">
    var peekContainer = $("#sqs-peek .peek-container");

    $(".lnk-sqs-peek").click(sqs_PeekMessages_Click);

    function sqs_PeekMessages_Click(event)
    {
        var parent = event.currentTarget.parentElement;
        var maxAmount = parent.querySelector("input.input-max-msgs").value;
        var waitTime = parent.querySelector("input.input-wait-secs").value;

        $.ajax({
            type: "GET",
            url: window.location.pathName,
            data: {
                handler: "PeekMessagesPartial",
                maxAmount: maxAmount,
                waitTimeSeconds: waitTime
            },
            cache: false,
            success: function(result) {
                peekContainer.html(result);
            }
        });
    }
</script>