@using GuiStack.Models
@using GuiStack.Extensions
@model SQSQueueInfo

<table class="gs-info-table colored">
    <tbody>
        <tr>
            <td>Type</td>
            <td>@(Model.FifoQueue ? "FIFO" : "Standard")</td>
        </tr>
        <tr>
            <td>ARN</td>
            <td>@Model.QueueARN</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>@Model.QueueURL</td>
        </tr>
        <tr>
            <td>Messages available ~</td>
            <td>@Model.ApproximateNumberOfMessages</td>
        </tr>
        <tr>
            <td>Messages in flight ~</td>
            <td>@Model.ApproximateNumberOfMessagesNotVisible</td>
        </tr>
        <tr>
            <td>Delayed messages ~</td>
            <td>@Model.ApproximateNumberOfMessagesDelayed</td>
        </tr>
    </tbody>
    <tbody class="additional-info">
        <tr>
            <td>Created</td>
            <td>@Model.CreatedTimestamp</td>
        </tr>
        <tr>
            <td>Last updated</td>
            <td>@Model.LastModifiedTimestamp</td>
        </tr>
        <tr>
            <td>Maximum message size</td>
            <td>@Model.MaximumMessageSize.ToFormattedFileSize()</td>
        </tr>
        <tr>
            <td>Delivery delay</td>
            <td>@TimeSpan.FromSeconds(Model.DelaySeconds).ToFormattedString()</td>
        </tr>
        <tr>
            <td>Default receive wait time</td>
            <td>@TimeSpan.FromSeconds(Model.ReceiveMessageWaitTimeSeconds).ToFormattedString()</td>
        </tr>
        <tr>
            <td>Default visibility timeout</td>
            <td>@TimeSpan.FromSeconds(Model.VisibilityTimeout).ToFormattedString()</td>
        </tr>
        <tr>
            <td>Message retention period</td>
            <td>@TimeSpan.FromSeconds(Model.MessageRetentionPeriod).ToFormattedString()</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="expand-button text-center collapsed">
            <td colspan="2">
                <a no-href onclick="gsevent_InfoTable_ToggleButton_Click(event)">
                    View more <i class="fa-solid fa-angles-down" style="font-size: 12px"></i>
                </a>
            </td>
        </tr>
        <tr class="expand-button text-center expanded">
            <td colspan="2">
                <a no-href onclick="gsevent_InfoTable_ToggleButton_Click(event)">
                    View less <i class="fa-solid fa-angles-up" style="font-size: 12px"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="gs-tab-control">
    <div class="gs-tab-container">
        <div class="gs-tabitem selected" data-tabpage="sqs-send">Send</div>
        <div class="gs-tabitem" data-tabpage="sqs-peek">Peek</div>
        <div class="gs-tabitem" data-tabpage="sqs-receive">Receive (destructive)</div>
    </div>

    <div id="sqs-send" class="gs-tabpage selected">
        <table class="gs-info-table">
            <tbody>
                <tr>
                    <td class="additional-info"></td>
                    <td></td>
                    <td class="text-right">
                        Syntax highlighting:
                        <select class="lang-select">
                            <option value="plaintext" selected>Plain Text</option>
                            <option value="json">JSON</option>
                            <option value="xml">XML</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="additional-info" style="vertical-align: top; height: 1px">
                        <div style="width: 200px; height: 100%; overflow: auto">
                            <partial name="~/Pages/_ProtobufListPartial.cshtml" />
                        </div>
                    </td>
                    <td class="collapsed">
                        <a no-href class="vertical" onclick="sqs_ProtobufPanel_Toggle(event)">
                            <i class="fa-solid fa-angles-down" style="font-size: 12px"></i> Protobuf <i class="fa-solid fa-angles-down" style="font-size: 12px"></i>
                        </a>
                    </td>
                    <td class="expanded">
                        <a no-href class="vertical" onclick="sqs_ProtobufPanel_Toggle(event)">
                            <i class="fa-solid fa-angles-up" style="font-size: 12px"></i> Protobuf <i class="fa-solid fa-angles-up" style="font-size: 12px"></i>
                        </a>
                    </td>
                    <td style="width: 100%">
                        <div class="gs-sqs-message-contents" placeholder="Enter message"></div>
                    </td>
                    <td style="vertical-align: top">
                        <a no-href class="gs-button lnk-sqs-send" style="margin-left: 8px">Send</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="sqs-peek" class="gs-tabpage">
        <div class="gs-block-grid" style="margin-bottom: 8px">
            <div>Max message count: <input class="input-max-msgs" type="number" min="1" max="10" value="1" /></div>
            <div>Max wait time (seconds): <input class="input-wait-secs" type="number" min="0" max="20" value="0" /></div>
            <a no-href class="gs-button lnk-sqs-peek">Peek</a>
        </div>

        <div class="peek-container"></div>
    </div>

    <div id="sqs-receive" class="gs-tabpage">
        <div class="gs-block-grid" style="margin-bottom: 8px">
            <div>Max message count: <input class="input-max-msgs" type="number" min="1" max="10" value="1" /></div>
            <div>Max wait time (seconds): <input class="input-wait-secs" type="number" min="0" max="20" value="0" /></div>
            <a no-href class="gs-button lnk-sqs-receive">Receive</a>
        </div>

        <div class="receive-container"></div>
    </div>
</div>

<script type="text/javascript">
    var __sqsSendMessageEditor = null;
    var peekContainer = $("#sqs-peek .peek-container");
    var receiveContainer = $("#sqs-receive .receive-container");

    $(".lnk-sqs-send").click(sqs_SendMessage_Click);
    $(".lnk-sqs-peek").click(sqs_PeekMessages_Click);
    $(".lnk-sqs-receive").click(sqs_ReceiveMessages_Click);

    $("#sqs-send .lang-select").click(sqs_Send_LanguageSelect);

    require(["vs/editor/editor.main"], function() {
        __sqsSendMessageEditor = monaco.editor.create(document.querySelector("#sqs-send .gs-sqs-message-contents"), {
            value: "",
            language: "plaintext",
            theme: "vs-dark",
            minimap: {
                enabled: false
            }
        });

        __sqsSendMessageEditor.layout();
    });

    function sqs_SendMessage_Click(event)
    {
        $.ajax({
            type: "POST",
            url: "@Url.Action("SendMessage", "Queues", new { queueName = ViewData["QueueName"] ?? "" })",
            contentType: "application/json",
            data: JSON.stringify({
                body: __sqsSendMessageEditor.getValue()
            }),
            error: gsevent_AjaxError,
            success: function(result) {
                __sqsSendMessageEditor.setValue("");
            }
        });
    }

    function sqs_PeekMessages_Click(event)
    {
        var parent = event.currentTarget.parentElement;
        var maxAmount = parent.querySelector("input.input-max-msgs").value;
        var waitTime = parent.querySelector("input.input-wait-secs").value;

        $.ajax({
            type: "GET",
            url: window.location.pathName,
            data: {
                handler: "PeekMessagesPartial",
                prefix: "Peek",
                maxAmount: maxAmount,
                waitTimeSeconds: waitTime
            },
            cache: false,
            error: gsevent_AjaxError,
            success: function(result) {
                peekContainer.html(result);
            }
        });
    }

    function sqs_ReceiveMessages_Click(event)
    {
        var parent = event.currentTarget.parentElement;
        var maxAmount = parent.querySelector("input.input-max-msgs").value;
        var waitTime = parent.querySelector("input.input-wait-secs").value;

        $.ajax({
            type: "GET",
            url: window.location.pathName,
            data: {
                handler: "ReceiveMessagesPartial",
                prefix: "Receive",
                maxAmount: maxAmount,
                waitTimeSeconds: waitTime
            },
            cache: false,
            error: gsevent_AjaxError,
            success: function(result) {
                receiveContainer.html(result);
            }
        });
    }

    function sqs_Send_LanguageSelect(event)
    {
        monaco.editor.setModelLanguage(__sqsSendMessageEditor.getModel(), event.currentTarget.value);
    }

    function sqs_ProtobufPanel_Toggle(event)
    {
        var editorElement = document.querySelector("#sqs-send .gs-sqs-message-contents");
        gsevent_InfoTable_ToggleButton_Click(event);

        // Force the editor to shrink before resizing
        editorElement.style.width = "1px";
        __sqsSendMessageEditor.layout();
        editorElement.style.removeProperty("width");
        __sqsSendMessageEditor.layout();
    }
</script>